.button {
  width: 200px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  background-color: #25282e;
  border: 0;
  padding: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background-color: #141619;
}
